/*   order */ 
h1,h3{
    text-align: center;
}
.order form{
    width: 75%;
    border-radius: 1rem;
    box-shadow: 0 2px 8px #555;
    border: .1rem solid #333;
    padding: 1.5rem;
    margin: 0 auto;
}

.order form .inputBox{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}
.order form .inputBox .inputs {
   display: flex;
   flex-direction: column;
   padding-bottom: 1rem;
}
.order form .inputBox .inputs input,
.order form .inputBox .inputs textarea{
    background-color: #555;
    border-radius: .17rem;
    color:#fff;
}