/*To use the grid you need to add a container element. Inside the container, you can add rows to organize your columns. Use col-1 through col-12 to determine the width of the column

<div class="container">
   <div class="row">
     <div class="col-6">Column 1</div>
     <div class="col-3">Column 2</div>
     <div class="col-3">Column 3</div>
     <div class="col-4">Column 4</div>
     <div class="col-4">Column 5</div>
     <div class="col-4">Column 6</div>
     <div class="col-2">Column 7</div>
     <div class="col-5">Column 8</div>
     <div class="col-5">Column 9</div>
     <div class="col-3">Column 10</div>
     <div class="col-3">Column 11</div>
     <div class="col-3">Column 12</div>
   </div>
 </div>*/
   
      
  .container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  
  [class^="col-"] {
    padding: 10px;
    box-sizing: border-box;
    background-color: salmon;
    border-color: blue;
    border-style: solid;
  }
  
  .col-6 {
    width: 50%;
  }
  
  .col-4 {
    width: 33.33%;
  }
  
  .col-3 {
    width: 25%;
  }
  
  .col-2 {
    width: 16.67%;
  }
  
  .col-5 {
    width: 41.67%;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 767px) {
    /* Mobile Portrait */
    .col-6,
    .col-4,
    .col-3,
    .col-2,
    .col-5 {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Tablet */
    .col-6 {
      width: 50%;
    }
  
    .col-4,
    .col-5 {
      width: 50%;
    }
  
    .col-3,
    .col-2 {
      width: 50%;
    }
  }
  
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    /* Mobile Landscape */
    .col-6,
    .col-4,
    .col-3,
    .col-2,
    .col-5 {
      width: 50%;
    }
  }
  
  /* Desktop */
  @media only screen and (min-width: 1200px) {
    .col-6 {
      width: 50%;
    }
  
    .col-4 {
      width: 33.33%;
    }
  
    .col-3 {
      width: 25%;
    }
  
    .col-2 {
      width: 16.67%;
    }
  
    .col-5 {
      width: 41.67%;
    }
  }
  
