:root {
  --lineHeight: calc(1em + .5em);
  
  --redLt: #F98280;
  --redDk: #B40B08;
  --orangeLt: #D28356;
  --orangeDk: #EA7600;
  --yellowLt: #EBBF21;
  --yellowDk: #695611;
  --greenLt: #84DB85;
  --greenDk: #1D631F;
  --blueLt: #86BBD8;  
  --blueDk: #2F5C7F;
  --blueDkr: #0F2333;
  
  --primaryLt: #E8F1F7; 
}
body {
  font: 16px sans-serif;
}

/*generic styling*/
abbr {
  text-decoration: underline dotted;
}
address {
  font-style: normal;
}
blockquote {
  text-align: center;
  font-style: italic;
  padding: 1em .5em;
  background-color: rgba(0,0,0,.15);
}
button {
  cursor: pointer;
  background-color: white;
  border: solid 2px black;
  padding: .5em 1em;
  border-radius: 1em;
}
cite {
  font-style: italic;
}
code, samp {
  font-family: monospace;
  background-color: rgba(0,0,0,.15);
}
dt {
  font-weight: bold;
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

/*========Header===========*/
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 2px 8px #555;
    background-color: #333;
    z-index: 100; 
 }
  /*========Nav========*/
  .nav {
   height: 4rem;
   margin-inline: 1.5rem;
 }
  .navData {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
  }
  .navLogo{
    display: inline-flex;
    align-items: center;
    column-gap: 0.2rem;
    color: #fff;
    transition: color .3s;
  }
  .navLogo:hover{color: #555;}
  .navToggle{
    position: relative;
    width: 1rem;
    height: 1rem;
  }
  .menuIcon,.closeIcon {
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    display: grid;
    place-items: center;
    inset: 0;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
  }
  .closeIcon {opacity: 0;}
  .navMenu{
    position: absolute;
    right: 0;
    top: 3rem;
    width: 50%;
    background-color: #333;
    height: 100vh-3rem; /*you mean calc(100vh - 3rem) ?*/
    overflow: auto;
    padding-block: 1.5rem 3.5rem;
    pointer-events: none;
    align-items: center;
    opacity: 0;
    transition: top .4s, opasity .3s; /*you mean opacity ?*/
  }
  .navLink{
    color:#fff;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
  }
  .navLink:hover{background-color: #555;}
  .showMenu{
    top:3rem;
    opacity:1;
    pointer-events: initial;
  }
  .showIcon .menuIcon{
    opacity: 0;
    transform: rotate(90deg);
  }
  .showIcon .closeIcon{
    opacity: 1;
    transform: rotate(90deg);
  }
 .dropdownIcon{cursor: pointer;}
 .arrowIcon{transition: transform .4s;}
 .dropdownItem, .dropdownList{display: grid;}
 .dropdownContent{
    background-color: #555;
    height: 0;
    overflow: hidden;
    transition: height .4s;
 }
 .dropdownList{
    row-gap: 1rem;
    justify-content: center;
    margin: 0.5rem 0;
 }
 .dropdownLink{
   color: #333;
   transition: color .3s;
   padding:.5rem 7rem;
   margin: 1rem 0;
 }
 .dropdownLink:hover{
   color: #fff;
   background-color: #333;
   align-items: center;
 }
 .showDropdown .arrowIcon{transform: rotate(180deg);}
  /*========Media query  nav========*/
  @media screen and (min-width: 576px) {
    .nav{
      height: 5rem;
      display: flex;
      justify-content: space-between;
    }
}
/*To use the grid you need to add a container element. Inside the container, you can add rows to organize your columns. Use col-1 through col-12 to determine the width of the column*/
      
  .container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  /*for mobile devices*/
  [class^="col-"] {
    width: 100%;
  }

  /* Media Queries */

  @media only screen and (min-width: 600px) {
  /* mobile landscape */
    [class^="col-"] { width: 50%; }
    .col-12 { width: 100%; }
  }
  
  @media only screen and (min-width: 984px) {
  /* tablets */
    [class^="col-"] { width: 33.33%; }
    .col-12 { width: 100%; }
  }
  
  /* Desktop */
  @media only screen and (min-width: 1200px) {
    .col-12{ width: 100%; }
    .col-11{ width: 91.66%; }
    .col-10{ width: 83.33%; }
    .col-9 { width: 75%; }
    .col-8 { width: 66.66%; }
    .col-7 { width: 58.33%; }
    .col-6 { width: 50%; }
    .col-5 { width: 41.66%; }
    .col-4 { width: 33.33%; }
    .col-3 { width: 25%; }
    .col-2 { width: 16.66%; }
    .col-1 { width: 8.33%; }
  }
    
/*list styling classes*/
.listNoStyle { list-style: none; }
.listStyleSquare { list-style-type: square; }
.listStyleCircle { list-style-type: circle; }
.listStyleRoman { list-style-type: upper-roman; }
.listStyleDecimal { list-style-type: decimal; }
.listStyleUppercase { list-style-type: upper-latin; }
.listStyleLowercase { list-style-type: lower-latin; }
.listStyleLeadingZero { list-style-type: decimal-leading-zero; }

/*colors*/
.red {
  border-color: var(--redDk);  
  background-color: var(--redLt);
}
.orange {
  border-color: var(--orangeDk);
  background-color: var(--orangeLt);
}
.yellow {
  border-color: var(--yellowDk);
  background-color: var(--yellowLt);
}
.green {
  border-color: var(--greenDk);
  background-color: var(--greenLt);
}
.blue {
  border-color: var(--blueDk);
  background-color: var(--blueLt);
}
.redDark {
  border-color: var(--redLt);  
  background-color: var(--redDk);
}
.orangeDark {
  border-color: var(--orangeLt);
  background-color: var(--orangeDk);
}
.yellowDark {
  border-color: var(--yellowLt);
  background-color: var(--yellowDk);
}
.greenDark {
  border-color: var(--greenLt);
  background-color: var(--greenDk);
}
.blueDark {
  border-color: var(--blueLt);
  background-color: var(--blueDk);
}
.redDark, .yellowDark, .orangedark, .greenDark, .blueDark {
  color: var(--primaryLt);
}
/* carousel classes
*with 'n' amount of slides
*coursel formatting: section.carousel>button.carouselBtnLeft+(div.carouselContainer>ul.carouselItems>li.carouselSlide*n)
*                    +button.carouselBtnRight+nav.carouselNav>button.carouselIndicator*n
*put font awesome icons inside carousel right and left buttons
*height needs to be specified on .carousel, otherwise everything collapses
*/
.carousel {
    max-width: calc(100% - 80px);
    margin: 0 auto;
    position: relative;
}
.carouselContainer {
    height: 100%;
    position: relative;
    overflow: hidden;
}
.carouselItems {
    list-style-type: none;
    height: 100%;
    position: relative;
    transition: transform .5s ease-in-out;
}
.carouselSlide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,.1);
}
.carouselLeftBtn, .carouselRightBtn {
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: rgb(150,150,150);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.carouselLeftBtn { left: -40px; }
.carouselRightBtn { right: -40px; }
.carouselNav {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
    position: relative;
    bottom: 0;
}
.carouselIndicator {
    background-color: rgb(150,150,150);
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: pointer;
    transition: background-color .5s;
}
.carouselIndicator.currentSlide {
  background-color: rgba(0,0,0,.15);
}
.isHidden {
  display: none;
}
/*cards*/
.card {
  border-radius: 1rem;
  border: solid 1px white;
  position: relative;
}
.card img {
  width: 100%;
  height: 100%;
}
.card p {
  position: absolute;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,.15);
  border-radius: 0 0 1rem 1rem;
}

/*food icons*/
@font-face {
  font-family: 'foodIcons';
  src:  url('icons/foodIcons.eot?dzfose');
  src:  url('icons/foodIcons.eot?dzfose#iefix') format('embedded-opentype'),
    url('icons/foodIcons.ttf?dzfose') format('truetype'),
    url('icons/foodIcons.woff?dzfose') format('woff'),
    url('icons/foodIcons.svg?dzfose#foodIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i[class^="icon"]{
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'foodIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering  */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconVegan:before {
  content: "\e904";
}
.iconDairy:before {
  content: "\e900";
}
.iconDairyFree:before {
  content: "\e901";
}
.iconEgg:before {
  content: "\e902";
}
.iconEggFree:before {
  content: "\e903";
}
.iconFavorite:before {
  content: "\1f31f";
}
.iconFish:before {
  content: "\1f41f";
}
.iconGluten:before {
  content: "\1f35e";
}
.iconGlutenFree:before {
  content: "\e907";
}
.iconNut:before {
  content: "\e905";
}
.iconNutFree:before {
  content: "\e909";
}
.iconShellfish:before {
  content: "\1f980";
}
.iconSpicy:before {
  content: "\1f336";
}
.iconVeggie:before {
  content: "\1f33f";
}

/*helper classes*/
.floatLeft {
  float: left
}
.floatRight {
  float: right;
}
.floarClear {
  clear: both;
}
.inlineBlock, .inlineBlockCenter {
  display: inline-block;
}
.inlineBlockCenter  {
  margin: inherit auto;
}
.transition, .transitionFast, .transitionSlow {
  transition: all .5s;
}
.transitionFast {
  transition-duration: .2s;
}
.transitionSlow {
  transition-duration: 1s;
}
.upRight{ transform: rotate(45deg); }
.right{ transform: rotate(90deg); }
.downRight{ transform: rotate(135deg); }
.down{ transform: rotate(180deg); }
.downLeft{ transform: rotate(-135deg); }
.left{ transform: rotate(-90deg); }
.upLeft{ transform: rotate(-45deg); }

/*text alignment classes*/
.textRight {
  text-align: right;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textJustify {
  text-align: justify;
}

/*text-transform classes*/
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
@media print {
  .dontPrint {
    visibility: hidden;
  }
}