:root {
  --lineHeight: calc(1em + .5em);
  
  --redLt: #F98280;
  --redDk: #B40B08;
  --orangeLt: #EA7600;
  --orangeDk: #8A4500;
  --yellowLt: #EBBF21;
  --yellowDk: #695611;
  --greenLt: #84DB85;
  --greenDk: #1D631F;
  --blueLt: #86BBD8;  
  --blueDk: #2F5C7F;
}
body {
  font: 16px sans-serif;
}

/*generic styling*/
abbr {
  text-decoration: underline dotted;
}
address {
  font-style: normal;
}
blockquote {
  text-align: center;
  font-style: italic;
  position: relative;
  padding: 1em .5em;
  background-color: rgba(0,0,0,.15);
}
button {
  cursor: pointer;
  background-color: white;
  border: solid 2px black;
  padding: .5em 1em;
  border-radius: 1em;
}
cite {
  font-style: italic;
}
code {
  font-family: monospace;
  background-color: rgba(0,0,0,.15);
}
h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

/*list styling classes*/
.listNoStyle {
  list-style: none;
}

/*colors*/
.red {
  border-color: var(--redDk);  
  background-color: var(--redLt);
}
.orange {
  border-color: var(--orangeDk);
  background-color: var(--orangeLt);
}
.yellow {
  border-color: var(--yellowDk);
  background-color: var(--yellowLt);
}
.green {
  border-color: var(--greenDk);
  background-color: var(--greenLt);
}
.blue {
  border-color: var(--blueDk);
  background-color: var(--blueLt);
}

/*text alignment classes*/
.textRight {
  text-align: right;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textJustify {
  text-align: justify;
}

/*text-transform classes*/
.uppercase {
  text-transform: uppercase;
}
.lowercase {
  text-transform: lowercase;
}
.capitalize {
  text-transform: capitalize;
}
@media print {
  .dontPrint {
    visibility: hidden;
  }
}